body {
  background-color: blue;
}

.head {
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: large;
}

.name {
  border: 1px solid tan;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: tan;
  color: tomato;
  text-align: center;
  line-height: 50px;
  font-size: x-large;
}

.text {
  line-height: 50px;
  font-size: larger;
}

.pan {
  line-height: 50px;
}

.sats {
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
}

.number {
  font-weight: 900;
  font-size: 50px;
}

.sata {
  display: flex;
  align-items: flex-end;
}

.dollar {
  display: flex;
  justify-content: center;
  color: white;
}

.ww {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
