a {
  text-decoration: none;
  color: white;
}
.menu-bar {
  background-color: #777;
  overflow: hidden;
}
.menu-bar a {
  padding: 12px;
  display: inline-block;
  font-size: 18px;
  float: left;
}
.menu-bar a:hover {
  background-color: black;
}
.menu-bar a.active {
  background-color: teal;
}
